<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.recipeapp">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">


        <activity android:name=".Recipe.RecipeMainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".Recipe.AboutMeActivity"
            android:exported="false"
            android:label="@string/about_title"
            android:parentActivityName=".Recipe.RecipeMainActivity" />

        <activity
            android:name=".Recipe.RecipeSearchActivity"
            android:label="@string/search_title"
            android:parentActivityName=".Recipe.RecipeMainActivity" />
        <activity
            android:name=".Recipe.SearchEmptyActivity"
            android:label="@string/detail_title"
            android:parentActivityName=".Recipe.RecipeSearchActivity" />
        <activity
            android:name=".Recipe.FavEmptyActivity"
            android:label="@string/detail_title"
            android:parentActivityName=".Recipe.RecipeFavActivity" />

        <activity
            android:name=".Recipe.RecipeFavActivity"
            android:label="@string/fav_title"
            android:parentActivityName=".Recipe.RecipeMainActivity" />
    </application>

</manifest>