<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.recipeapp">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <!-- <activity android:name=".MainActivity"> -->
        <activity android:name=".Recipe.RecipeMain">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".Recipe.AboutMeActivity"
            android:exported="false"
            android:label="@string/about_title"
            android:parentActivityName=".Recipe.RecipeMain" />

        <activity
            android:name=".Recipe.RecipeSearch"
            android:label="@string/search_title"
            android:parentActivityName=".Recipe.RecipeMain" />
        <activity
            android:name=".Recipe.RecipeEmptyActivity"
            android:label="@string/detail_title"
            android:parentActivityName=".Recipe.RecipeSearch" />
<!--        <activity android:name=".Recipe.RecipeDetailFragment" android:parentActivityName=".Recipe.RecipeMain" />-->
<!--        <activity android:name=".ui.activities.HomeActivity"-->
<!--            android:parentActivityName=".ui.activities.MainActivity/>-->
        <activity
            android:name=".Recipe.RecipeFavActivity"
            android:label="@string/fav_title"
            android:parentActivityName=".Recipe.RecipeMain" />
    </application>

</manifest>